<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <script type="module" src="../../script.js" defer></script>
    <link rel="stylesheet" href="../styles/gamePage/gamePage.css">
</head>

<body class="body_hide">
    <div class="wrapper game-page">
        <div class="play-wrapper">
            <button class="game-page__play"></button>
        </div>
        <div class="game-page__burger--closed">
            <div class="icon-wrapper game-page__burger__button--open">
                <span class="up"></span>
                <span class="middle"></span>
                <span class="down"></span>
            </div>
        </div>

        <div class="game-page__body">
            <div class="player-cards">
                <div class="template-card">
                    <div class="icon-wrapper plus"></div>
                    <div class="title">
                        <span>Add Player</span>
                    </div>
                </div>
            </div>
            <div class="items-wrapper">
                <div class="gameboard-wrapper">
                    <div class="game-page__gameboard">

                    </div>
                </div>
                <div class="timer">
                    <span>0:30</span>
                </div>
            </div>
            <span class="tutor win">Выберите длину победной линии</span>
            <div class="win-option">
            </div>
            <div class="rangers">
                <span class="tutor size">Измените размер поля</span>
                <div class="width-range">
                    <label>Width</label>
                    <input type="range" class="width" name="cowbell" min="3" max="10" value="3" step="1">
                </div>
                <div class="heigth-range">
                    <label>Heigth</label>
                    <input type="range" class="heigth" name="cowbell" min="3" max="10" value="3" step="1">
                </div>
            </div>
        </div>
    </div>

    <div class="popup">
        <form class="add-player" action="" method="">
            <div class="close-popup">
                <h1>Nickname:</h1>
                <span>x</span>
            </div>
            <div class="field">
                <input id="name" type="text" name="name" class="nickname" maxlength="50" required>
            </div>
            <input class="add-player-btn" type="submit" value="OK">
        </form>
    </div>

    <div class="popup2">
        <div class="applause-round">
            <div class="round-winner">
                w
            </div>
            <div class="round-number">
                <span>Round - 1</span>
            </div>
            <div class="gif-container">
                <div class="gif"
                    style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:56%;position:relative;">
                    <iframe src="https://giphy.com/embed/yziuK6WtDFMly" width="70%" height="70%"
                        style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <p><a href="https://giphy.com/gifs/cheers-yziuK6WtDFMly"></a></p>
            </div>
            <div class="round-results">

            </div>
        </div>
    </div>

    <div class="popup3">
        <div class="game-over">
            <div class="congratulations"><span>CONGRATULATIONS!</span></div>
            <div class="gif-container">
                <div class="gif2"
                    style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:112%;position:relative;">
                    <iframe src="https://giphy.com/embed/nqi89GMgyT3va" width="100%" height="100%"
                        style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <p><a href="https://giphy.com/gifs/nqi89GMgyT3va"></a></p>
            </div>
            <div class="winner">
                wow
            </div>
        </div>
    </div>

    <div class="popup4">
        <div class="draw-msg">
            IT'S DRAW
        </div>
        <div class="gif-container">
            <div class="gif3"
                style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:98%;position:relative;">
                <iframe src="https://giphy.com/embed/kwcRp24Wz4lZm" width="100%" height="100%" style="position:absolute"
                    frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <p><a href="https://giphy.com/gifs/swag-christian-bale-american-psycho-kwcRp24Wz4lZm"></a></p>
        </div>
    </div>

</body>

</html>