<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <script type="module" src="../../script.js" defer></script>
    <link rel="stylesheet" href="../styles/gamePage/gamePage.css">
</head>

<body class="body_hide">
    <div class="wrapper game-page">
        <div class="game-page__body">
            <div class="player-cards">
                <div class="template-card">
                    <div class="icon-wrapper plus"></div>
                    <div class="title">
                        <span>Add Player</span>
                    </div>
                </div>
            </div>
            <div class="items-wrapper">
                <div class="timer-display">
                </div>
                <div class="timer">

                </div>

                <div class="play-btn__mobile">

                </div>

                <div class="gameboard-wrapper">
                    <div class="game-page__gameboard">

                    </div>
                </div>
            </div>
            <span class="tutor win">Выберите длину победной линии</span>
            <div class="win-option">
            </div>
            <div class="rangers">
                <span class="tutor size">Измените размер поля</span>
                <div class="width-range">
                    <label>Width</label>
                    <input type="range" class="width" name="cowbell" min="3" max="10" value="3" step="1">
                </div>
                <div class="heigth-range">
                    <label>Heigth</label>
                    <input type="range" class="heigth" name="cowbell" min="3" max="10" value="3" step="1">
                </div>
            </div>
            <span class="terminated">Терминатор не даст вам поменять размер поля</span>
        </div>
    </div>

    <div class="popup">
        <div class="chois-player">
            <div class="icon-wrapper human"></div>
            <div class="icon-wrapper AI"></div>
            <div class="close-chois-player">
                <span>x</span>
            </div>
        </div>
        <form class="add-player" action="" method="">
            <div class="close-popup">
                <h1>Nickname:</h1>
                <span>x</span>
            </div>
            <div class="field">
                <input id="name" type="text" name="name" class="nickname" maxlength="50" required>
            </div>
            <input class="add-player-btn" type="submit" value="OK">
        </form>
    </div>

    <div class="popup2">
        <div class="applause-round">
            <div class="round-winner">

            </div>
            <div class="round-number">
                <span>Round - 1</span>
            </div>
            <div class="gif-container">
                <div class="gif"
                    style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:56%;position:relative;">
                    <iframe src="https://giphy.com/embed/yziuK6WtDFMly" width="70%" height="70%"
                        style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
            <div class="round-results">

            </div>
        </div>
    </div>

    <div class="popup3">
        <div class="game-over">
            <div class="congratulations"><span>CONGRATULATIONS!</span></div>
            <div class="gif-container">
                <div class="gif2"
                    style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:112%;position:relative;">
                    <iframe src="https://giphy.com/embed/nqi89GMgyT3va" width="100%" height="100%"
                        style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
            <div class="winner">

            </div>
        </div>
    </div>

    <div class="popup4">
        <div class="draw-msg">
            IT'S TIE
        </div>
        <div class="gif-container">
            <div class="gif3"
                style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:98%;position:relative;">
                <iframe src="https://giphy.com/embed/RILsqUte1MME7TzQJ9" width="100%" height="100%"
                    style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>

    <div class="popup5">
        <div class="draw-msg">
            <span>YOU LOSE!</span>
        </div>
        <div class="gif-container">
            <div class="gif4"
                style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:98%;position:relative;">
                <iframe src="https://giphy.com/embed/MT3Ma5FVawTN6" width="100%" height="100%" style="position:absolute"
                    frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>

    <div class="popup6">
        <div class="draw-msg">
            <span>YOU LOSE!</span>
        </div>
        <div class="gif-container">
            <div class="gif5"
                style="display:flex;justify-content:center;width:100%;height:0;padding-bottom:98%;position:relative;">
                <iframe src="https://giphy.com/embed/h4Hz4w9Jgrc1EY9VkL" width="100%" height="100%"
                    style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>

    </div>
</body>

</html>