@import url(../../../style.css);
@import url(./range.css);

:root {
    --speed: 36s;
}

.mobile-timer {
    display: grid;
    width: 100%;
    height: min-content;
    visibility: hidden;
    opacity: 0;
}

.mobile-timer>svg {
    width: 100%;
    height: 1vh;
}

.mobile-timer>span {
    padding-left: 1vh;
    font-size: 2rem;
}

.game-page__body {
    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
    justify-items: center;
    align-content: start;
    padding: 1vh;
    gap: 3vh;
}

.player-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2vh, 25vh));
    gap: 1vh;
    justify-content: center;
    height: min-content;
    width: 70%;
}

.score {
    opacity: 0;
    visibility: hidden;
}

.template-card,
.player-card {
    display: grid;
}

.template-card {
    grid-template-columns: min-content 1fr;
}

.plus {
    background-image: url(../../images/plus.svg);
}

.template-card>.title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.player-card {
    grid-template-columns: 1fr 6vh min-content;
    height: min-content;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: blue;
    color: white;
}

.marker {
    display: flex;
    background-color: #d1eeec;
    opacity: 0.7;
}

.items-wrapper {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-areas:
        'body';
    min-height: 42vh;
    min-width: 42vh;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.play-btn__mobile {
    grid-area: body;
    display: flex;
    justify-self: center;
    width: 40%;
    height: 30%;
    background-image: url(../../images/play2.svg);
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 100;
}

.timer {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    grid-area: body;
    visibility: hidden;
    opacity: 0;
}

.timer-display {
    display: none;
    position: relative;
    width: 5vh;
    height: min-content;
    justify-content: center;
    align-items: center;
    grid-area: body;
}

.back-timer {
    stroke-dashoffset: 0;
}

.gameboard-wrapper {
    display: grid;
    grid-area: body;
    justify-self: center;
    align-self: center;
    height: min-content;
    width: max-content;
}

.game-page__gameboard {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 1vh;
    padding: 1vh;
    height: min-content;
    transition: all ease 200ms;
    width: max-content;
}

.cell {
    display: flex;
    min-height: 1vh;
    min-width: 1vh;
    background-color: #d1eeec;
    opacity: 0.7;
    border-radius: 0.2rem;
    transition: 1s;
}

.cell:hover {
    transition: 0.1s;
    opacity: 0.8;
    border: 0.4vh rgb(143, 251, 255) solid;
}

.rangers {
    display: grid;
    gap: 1vh;
    width: 50%;
    justify-items: center;
}

.win {
    margin-bottom: 1vh;
}

.size {
    margin-top: 2vh;
}

.win-option {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1vh;
}

.popup,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6 {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    padding: 1vh;
    z-index: 100;
}

.popup {
    grid-template-areas:
        'popup';
}

.close-popup {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: min-content;
}

.close-popup>span {
    font-size: 1.8rem;
    color: red;
    padding-right: 1vh;
}

.add-player,
.chois-player,
.chois-ai {
    display: grid;
    background-color: #4fadff;
    padding: 1vh;
    border-radius: 1vh;
    grid-area: popup;
}

.chois-player {
    grid-template-columns: 1fr 1fr min-content;
    justify-items: center;
    align-content: center;
    width: 20vh;
    height: 10vh;
}

.human {
    border-radius: 0.4vh;
    background-image: url(../../images/human.gif);
    cursor: pointer;
}

.AI {
    border-radius: 0.4vh;
    background-image: url(../../images/ai.gif);
    cursor: pointer;
}

.close-chois-player {
    position: relative;
    height: min-content;
    bottom: 2vh;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    text-align: end;
}

.high {
    cursor: pointer;
    background-color: white;
    border-radius: 0.4vh;
    background-image: url(../../images/high.svg);
}

.add-player {
    grid-template-rows: min-content 5vh 2vh;
    width: 30vh;
    height: 20vh;
    gap: 2vh;
    visibility: hidden;
    opacity: 0;
}

.close-popup>h1 {
    height: min-content;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.field>input {
    appearance: none;
    border-radius: 0.4vh;
    width: 28vh;
    padding: 1vh;
}

.add-player-btn {
    width: 6vh;
    height: 3vh;
    border-radius: 0.4vh;
    font-size: 0.8rem;
}

.gif-container {
    width: 40vh;
    justify-content: center;
}

.applause-round,
.game-over {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    height: min-content;
    justify-items: center;
}

.round-results,
.round-number,
.congratulations,
.winner,
.round-winner,
.draw-msg {
    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1vh;
    width: 80%;
    height: min-content;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.round-winner {
    font-size: 3rem;
    padding-bottom: 2vh;
}

.winner {
    font-size: 4rem;
}

.congratulations {
    font-size: 2rem;
    padding-bottom: 2vh;
}

@media screen and (max-aspect-ratio:1/1.0001) {

    .mobile-timer {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .game-page__play,
    .play-wrapper,
    .game-page__burger--closed,
    .game-page__burger__button--close,
    .game-page__burger__button--open,
    .game-page__burger__button--close,
    .up,
    .middle,
    .down,
    .game-page__burger__button--close .up,
    .game-page__burger__button--close .down,
    .game-page__burger--opened,
    .game-page__burger__header,
    .game-page__burger__main-title,
    .game-page__burger__score-board,
    .game-page__burger__score-board__title,
    .game-page__burger__score-board__container,
    .game-page__burger__score-board__player-score,
    .game-page__burger__score-board__player-score__name,
    .game-page__burger__score-board__player-score__score,
    .game-page__burger__score-board__round-counter,
    .game-exit {
        display: none;
    }

    .items-wrapper {
        max-width: 38vh;
    }

    .timer {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .timer-display {
        visibility: hidden !important;
        opacity: 0 !important;
    }


    .score,
    .delete {
        width: 3vh;
        height: 3vh;
    }

    .score {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: green;
    }

    .delete {
        background-image: url(../../images/delete-empty.svg);
    }

    .win-option {
        width: 40vh;
        height: 3vh;
    }

    .options-wrapper {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 7vh;
    }

    .round-number__mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        opacity: 1;
        visibility: visible;
    }

    .mobile-exit__wrapper {
        display: flex;
        justify-content: end;
    }

    .mobile-exit {
        padding-bottom: 1vh;
        background-image: url(../../images/burgerMenu/exit-run.svg);
        align-self: center;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .game-page {
        grid-template-columns: min-content 1fr;
        grid-template-areas:
            'burger body';
    }

    .game-page__burger--closed {
        grid-area: burger;
        background-color: #4fadff;
        border: 0.4vh #0086F4 solid;
        padding: 1vh;
        width: 9vh;
    }

    .game-page__burger__button--close,
    .game-page__burger__button--open {
        position: relative;
        display: grid;
        padding: 1vh;
        justify-items: center;
        align-items: center;
        background-color: #663399;
    }

    .game-page__burger__button--close {
        right: -36vh;
    }

    .up,
    .middle,
    .down {
        position: relative;
        width: 4vh;
        height: 0.6vh;
        background-color: white;
        content: "";
    }

    .game-page__burger__button--close .up {
        top: 1.3vh;
    }

    .game-page__burger__button--close .down {
        top: -1.4vh;

    }

    .game-page__burger--opened {
        font-size: 100%;
        background-color: #4fadff;
        border: 0.4vh #0086F4 solid;
        width: 45vh;
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        gap: 1vh;
        transition: linear;
    }

    .game-page__burger__header {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1vh;
    }

    .game-page__burger__main-title {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        justify-items: center;
        font-size: 3rem;
        padding: 1vh;
        gap: 1vh;
    }

    .game-page__burger__score-board {
        display: grid;
        grid-template-rows: 10vh 1fr 10vh;
        border-top: 0.4vh #0086F4 solid;
    }

    .game-page__burger__score-board__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-bottom: 0.4vh #0086F4 solid;
    }

    .game-page__burger__score-board__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 30vh);
        align-content: center;
        justify-content: center;
        padding: 1vh;
        gap: 2vh;
    }

    .game-page__burger__score-board__player-score {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        font-size: 1.5rem;
        border-radius: 1vh;
        height: 20vh;
        width: 30vh;
    }

    .game-page__burger__score-board__player-score__name,
    .game-page__burger__score-board__player-score__score {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.4vh #0086F4 solid;
        background-color: aliceblue;
        border-radius: 1vh;
        padding: 1vh;
    }

    .game-page__burger__score-board__round-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-top: 0.4vh #0086F4 solid;
    }

    .game-exit {
        background-image: url(../../images/burgerMenu/exit-run.svg);
        position: relative;
        left: 10vh;
    }

    .game-page__body {
        grid-area: body;
        overflow: hidden;
    }

    .marker:hover {
        background-image: url(../../images/delete-empty.svg);
    }

    .marker>svg:hover {
        opacity: 0;
    }

    .timer {
        left: 53vh;
        width: 15vh;
        height: 15vh;
    }

    .timer-display {
        left: 58vh;
    }

    .win-option {
        width: 60vh;
        height: 5vh;
    }

    .score {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .round-number__mobile {
        opacity: 0;
        visibility: hidden;
    }
}