.heigth-range,
.width-range {
    display: flex;
    width: 90%;
}

input[type='range'] {
    display:flex;
    width: 100%;
    height: 4vh;
}

label {
    padding: 1vh;
}

@keyframes trambling-animation {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
    }

    20%,
    40% {
        transform: rotate(10deg);
    }
}